<html>
  <head>
    <link rel="preload" as="fetch" href="https://octothorp.es/?uri=https://lil-bits.nobr.me/gifs" >
<link rel="octo:octothorpes" href="weirdweboctober" >
<link rel="octo:octothorpes" href="GIFs" >

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<style>
body {
  margin: 0;
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  background-color: #121212;
  color: #DDD;
  font-size: 24px;
}

h1 {
  font-size: 72px;
  margin: 0px;
}
</style>
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
<script>
// supports both simple arrays and complex weighted arrays
let randomChoice = (array) => {
  if (array.length === 0) {
    return
  }
  if (array[0].weight === undefined || Array.isArray(array[0])) {
    return array[Math.floor(array.length * Math.random())]
  } else {
    // First, we loop the main dataset to count up the total weight. We're starting the counter at one because the upper boundary of Math.random() is exclusive.
    var total = 0;
    for (var i = 0; i < array.length; ++i) {
      total += parseInt(array[i].weight);
    }

    // Total in hand, we can now pick a random value akin to our
    // random index from before.
    const threshold = Math.random() * total;

    // Now we just need to loop through the main data one more time
    // until we discover which value would live within this
    // particular threshold. We need to keep a running count of
    // weights as we go, so let's just reuse the "total" variable
    // since it was already declared.
    total = 0;
    for (var i = 0; i < array.length; ++i) {
      // Add the weight to our running total.
      total += parseInt(array[i].weight);

      // If this value falls within the threshold, we're done!
      if (total >= threshold) {
        return array[i].value;
      }
    }
    return array[i].value;
  }
}

$(document).ready(function() {
})
</script>
<title>DO NOT USE GIFS!</title>
  </head>
<body>
  <h1>DO NOT USE GIFS!</h1>
  <div>
    GIFs are actually a very bad format! The term "GIF" has become popular for "animated image online", but most of the time, what you're seeing is actually a video!
  </div>
  <div>
    Here are some TRUE facts about GIFs!
  </div>
  <ul>
    <li>
      GIFs are limited to 256 colors, while videos can display millions of colors, resulting in a much higher quality visual experience. This is why lots of GIFs will be visibly lower quality than video!
    </li>
    <li>
      GIFs store every frame of animation, while videos use compression algorithms to store the differences between frames, which is much more space efficient! You can use up a lot of disk space/bandwidth if you rely too heavily on GIFs!
    </li>
    <li>
      Look at this sicko shit!
      </br>
      <img src="/static/gif.jpg">
    </li>
  </ul>
  <div>
    GIFs are not to be trusted! Remain ever vigilant! Use &lt;video&gt; instead!
  </div>
</body>
</html>
