<html>
  <head>
    <link rel="preload" as="fetch" href="https://octothorp.es/?uri=https://lil-bits.nobr.me/history" >
<link rel="octo:octothorpes" href="weirdweboctober" >
<link rel="octo:octothorpes" href="History" >

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<style>
body {
  margin: 0;
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  background-color: #121212;
  color: #DDD;
}

.container {
  width: 400px;
  text-align: left;
  margin: auto;
}
</style>
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
<script>
// supports both simple arrays and complex weighted arrays
let randomChoice = (array) => {
  if (array.length === 0) {
    return
  }
  if (array[0].weight === undefined || Array.isArray(array[0])) {
    return array[Math.floor(array.length * Math.random())]
  } else {
    // First, we loop the main dataset to count up the total weight. We're starting the counter at one because the upper boundary of Math.random() is exclusive.
    var total = 0;
    for (var i = 0; i < array.length; ++i) {
      total += parseInt(array[i].weight);
    }

    // Total in hand, we can now pick a random value akin to our
    // random index from before.
    const threshold = Math.random() * total;

    // Now we just need to loop through the main data one more time
    // until we discover which value would live within this
    // particular threshold. We need to keep a running count of
    // weights as we go, so let's just reuse the "total" variable
    // since it was already declared.
    total = 0;
    for (var i = 0; i < array.length; ++i) {
      // Add the weight to our running total.
      total += parseInt(array[i].weight);

      // If this value falls within the threshold, we're done!
      if (total >= threshold) {
        return array[i].value;
      }
    }
    return array[i].value;
  }
}

$(document).ready(function() {
})
</script>
<title>Eulogies for Abandoned Hobbies</title>
  </head>
<body>
  <div class="container">
    <h1>Eulogies for Abandoned Hobbies</h1>
    <div>
      <h2>Trumpet (2020-2021)</h2>
      <div>
        During quarantine, I became infatuated with the idea of becoming a trumpet guy at parties who can jam along to whatever song is playing at the party. I borrowed a trumpet from a friend and asked my friend how I should start learning. My friend sends me an hour long video on making sure to develop proper embouchure. This is a little daunting, but my dreams are too big. I practice proper embouchure for 2 weeks. The video says I should practice proper embouchure for a month before I even pick up a trumpet, but the temptation is too great. I blow into a trumpet for the first time and can barely eek out even a single note. I try not to be discouraged but the damage has taken its course. I half-heartedly pick up the trumpet maybe once a month for another year, but it's over
      </div>
    </div>
    <div>
      <h2>Noodle Making (2020-2024)</h2>
      <div>
        I stumble upon a video of Gordon Ramsey trying to learn to make chinese hand pulled noodles and failing miserably and I get sucked into the world of making handmade noodles. I try a handful of differences. I try a hand crank machine, which I don't end up liking that much. I end up preferring making knife cut noodles by a lot. Knife-cut noodles are arguably the same amount of work as a hand crank pasta machine and don't require any special equipment. I make handmade noodles a handful of times over quarantine, but the taste difference between handmade noodles and dried noodles doesn't really end up being worth the price difference. 
      </div>
      </br>
      <div>
        Years later, in 2023, I go over to a friend's house for pasta dinner, where they show me a machine that makes fresh pasta directly from just flour and water! I buy a similar machine off facebook marketplace a few weeks later and start churning out pasta all the time. This pasta tastes even better than the handmade pasta I was making AND it's easier! I eat a ton of pasta during this period, until in early 2024, I decide that I care more about losing weight than eating delicious pasta. I'll still bust out the pasta maker if I'm hosting dinner sometimes, but lately my meals are much more protein based.
      </div>
    </div>
    <div>
      <h2>LED Contraptions (2016-2019)</h2>
      <div>
        I made a ton of neopixel contraptions during this time period. I made an infinity cube (They're commonplace now, but I made mine in 2016 before they were all over the place!) an LED shirt, LED flower decorations and an LED mask. They were pretty fun for a while, but at a certain point I started feeling like there's not really much you can do with them. That compounded with the fact that neopixel strips break pretty easily put me off of them basically forever. You can only replace so many bad LEDs before you never want to do it again.
      </div>
    </div>
    <div>
      <h2>Poi (2015-2017)</h2>
      <div>
        I move in with a friend that spun poi and end up learning how to spin poi from him! It also helps a ton that this friend's social group, who is really into flow arts, ended up adapting me. For those years, I'm hanging out with flow artists all the time and end up practicing poi a ton! Eventually, those friends end up moving away to cheaper place and I'm left without a flow arts community. Since then, I basically only spin poi for special events. Nowadays, I joke that I learned just enough to impress the average person, which isn't totally false.
      </div>
    </div>
  </div>
</body>
</html>
