<!DOCTYPE html>
<!-- Hello, people who are probably going to steal this for their own HTML day page -->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>HTML Day 2025: Atlanta</title>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="HTML Day 2025: Atlanta" />
   <meta name="description" content="Come write HTML and feel the HTML Energy!">
<link href="https://html.energy/images/favicon.png" rel="icon" type="image/x-icon">
<title>HTML Day 2025: Atlanta</title>
    <meta
      name="twitter:description"
      content="Saturday, August 2, 2025, 3-6pm, 211 Walker St. SW, Atlanta, GA"
    />
    <style>
      body {
        font-family: sans-serif;
        display: flex;
  justify-content: center;
      background-color: #fefae0;
      color: #bc6c25
      }
    #main {
		  width: 600px;
    }
    @media only screen and (max-width: 600px)
    #main {
		  width: 350px;
    }
	  h1 {
      color: #dda15e;
	  }
	  a {
		  color:#283618;
	  }
    </style>
  </head>
  <body>
    <div id=main>
	  <h1 class="header">
		  HTML Day 2025</h1>
	  <h2>Atlanta</h2>
    <img src="https://pbs.twimg.com/media/F4REwA4WMAAlE-K.jpg" width=300>   
	<div style="text-align:right;">
		<h3>
      Saturday, August 2, 2025 3PM-6PM<br>Rogues' Gallery Co-op<br>211 Walker St. SW, Atlanta, GA
    </h3>
	</div>
	<hr>
    <b>What is this?</b> <br />
	We get together in person and write HTML documents! Come feel the <a href="https://html.energy/">HTML Energy</a>.

    <br /><br />

    <b>What should I bring?</b><br />
    Yourself, something to write HTML on, and maybe some snacks!<br /><br />

    <b>How's the parking situation?</b><br />
    There should be street parking nearby!<br /><br />

    <b>What if I want to take MARTA?</b><br />
    It's a 13 min walk from the Garnett MARTA station.
    <br /><br />

    <b>Who is running this?</b><br />
    <a href="https://nobr.me/" target="_blank"
                               >Nobel Yoo</a>
	<br><br>

    <b>Need to contact us???</b><br />
	DM me on ig (<a href="https://instagram.com/nobelyoo">@nobelyoo</a>) or email (<a href="mailto:nobr@nobr.me">nobr@nobr.me</a>)<br /><br />

    <b>Is this the same as last year's event?</b><br />
    Pretty much!<br /><br />

    <b>I'm not in Atlanta. Is there an event in my city?</b><br />
    Check out
    <a href="https://html.energy/events.html">html.energy/events.html</a>. If
    your city isn't listed, feel free to organize your own!<br/><br/>

    <b>How can I learn HTML?</b><br/>
    <ul>
      <li><a href="https://amalinalai.github.io/precipice/">Lina</a>, who is hosting the Singapore freewrite, made a <a href="https://amalinalai.github.io/htmlenergy/starterkit/HTML_Day_2025-Guide.pdf">Starter Kit</a></li>
      <li><a href="https://maxbo.me/">Max</a>, who is hosting the Sydney freewrite, compiled this helpful <a href="https://maxbo.me/html-in-hyde/index.html#resources">list of resources</a></li>
      <li><a href="https://1linelayouts.com/">1-Line Layouts</a> provide some simple css to get some basic layouts down.</li>
      <li><a href="https://www.stealing.rocks/">Stealing rocks</a> provides some more easy code snippets you can steal.</li>
    </ul>
    <b>What's the point of this?</b><br/>
    Personally, HTML Day is an event that celebrates and encourages a vision of the internet that's more DIY, grassroots, and independent than the version we have now, which is largely made up of megacorporations. HTML Energy describes their goals slightly differently - <a href="https://html.energy/goals.html">"to show people that the web is still alive. And to actively make the web more human and handmade."</a>
      <br/><br/>

    <b>What is some stuff I can do for HTML Day?</b><br/>
    <ul>
      <li>Wear green to symbolize <a href="https://html.energy/index.html">HTML Energy</a></li>
      <li>Write HTML on unusual objects like <a href="https://d2w9rnfcy7mm78.cloudfront.net/38195314/original_77ff74139ebd63500ac692ce51f41744.jpg?1752835536?bc=0">rocks</a></li>
      <li>Do a <a href="https://www.are.na/block/25688568">computer dance</a></li>
      <li>Make a <a href="https://lil-bits.nobr.me/favorites_pages">Favorites Page</a></li>
      <li>Label <a href="https://d2w9rnfcy7mm78.cloudfront.net/38195300/original_a98e8688484d18c69ca361b44dca08cd.jpg?1752835532?bc=0">ususual things</a> with HTML!</li>
      <li>Get ideas from a <a href="https://d2w9rnfcy7mm78.cloudfront.net/38195309/original_0b979b6f6a514ed6b97c8203e0800a1b.jpg?1752835534?bc=0">list of prompts</a>!</li>
    </ul>

    <b>Wow! This is awesome! What are some ways I can keep feeling the HTML energy after HTML Day?</b>
        <ul>
          <li><a href="https://sundaysites.cafe/">Sunday Sites</a> is a monthly freewrite happening online with a different theme every month!</li>
          <li><a href="https://www.are.na/html-energy/channels">The HTML Energy Are.na Account</a> posts sources of HTML energy all throughout the year!</li>
        </ul>
    </div>
  </body>
</html>

